.venv
*.pyc
node_modules
cache
.DS_Store
data/images/*.jpg
data/images_t/*.jpg
data/images_p/*.jpg
data/images_p/head/*.jpg
data/images_p/body/*.jpg
data/images_p/legs/*.jpg
data/images_p/foots/*.jpg
